{% extends 'base.html' %}
{% block title %} REGISTRO {% endblock %}

{% block content %}
<div class="container mt-5">
    <table class="table table-hover table-bordered">
        <thead class="table-primary">
            <tr>
                <th>Tipo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
            <tr>
                <td>{{ categoria.tipo }}</td>
                <td>
                    <a href="{% url 'editar_categoria' categoria.pk %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'eliminar_categoria' categoria.pk %}" class="btn btn-danger btn-sm">Borrar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2" class="text-center">No hay categorías registradas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
